:root {
  --main: #f5dddd;
  --sec: #a4a3ae;
  --acc: #53687e;
}
* {
  font-family: "Questrial", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
#bar {
  height: 5%;
}
.navbar {
  background: none;
  z-index: 9999;
  position: sticky;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .navbar {
    background-color: var(--main);
    position: relative;
  }
  header {
    position: relative;
  }
}
.button {
  height: 100%;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid var(--main);
  border-right: 1px solid var(--main);
  color: var(--main);
  background-color: black;
}
.button:hover {
  color: var(--acc);
}
.carousel-item {
  height: 100vh;
}
.blank {
  height: 2000px;
}
header {
  left: 0;
  top: 2.8%;
}
.stick-top {
  background-color: var(--main);
  transition: 0.5s;
}
